.bodyFondo {
    /* Establece los colores de inicio y fin del degradado */
    /* background: linear-gradient(to bottom, #ffffff,#77dd77);*/
    background-color: #ffffff;
    /*#a0d2f3*/
    /* Cambia el ángulo del degradado según tus preferencias */
    /* Puedes usar palabras clave como to right, to left, to top, to bottom, etc. o ángulos en grados. */
    /* Ejemplo: background: linear-gradient(45deg, #FFA500, #FF6347); */
    /* Agrega más propiedades CSS según sea necesario */
    font-family: Arial, sans-serif;
    font-weight: bold;
    
    color: #000000; /* Color del texto */
    /* Otros estilos de tu página */
}
.estiloE {
    background: #ecd6c0
}
.tabla {
    background-color: #ffffeb;
    border-radius: 15px;
}
.fondoTarjeta {
    background-color: #ffffeb;
}
.fondoBoton:hover {
    background-color: #77dd77;
}
.fondoBotonPrin {
    background-color: #42ab49
}

.estiloinput {
    border-left: #fff;
    border-top: #fff;
    border-right: #fff;
    border-inline-start-color: #fff;
    border-color: #42ab49;
    box-shadow: none;
}

    .estiloinput:focus {
        border: none;
        border-color: #42ab49;
        box-shadow: none;
    }


   /* #formInput {
        border-left: #fff;
        border-top: #fff;
        border-right: #fff;
        border-inline-start-color: #fff;
        border-color: #91278F;
        box-shadow: none;
    }*/
